.banner{
    width: 100%;
    background-color: rgb(186, 211, 233);
}

.success{
    background-color: #2e2e2e;
    padding: 15px;
    color: wheat;
    width: 80%;
    margin: auto;
    text-align: center;

}